<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>

  <% if (typeof errors !== 'undefined') { %>

    <div class="form-errors">
      <p>Form submission failed with the following errors:</p>
      <ul>
        <% for (let i = 0; i < errors.length; i++) { %>
          <li><%= errors[i].msg %></li>
        <% } %>
      </ul>
     </div>

    <form action="/signup" method="POST">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" placeholder="First" value="<%= previous.firstName %>">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" placeholder="Last" value="<%= previous.lastName %>">
      <label for="lastName">User Name (Email)</label>
      <input type="text" name="userName" placeholder="Email" value="<%= previous.userName %>">
      <label for="lastName">Password</label>
      <input type="password" name="password">
      <label for="lastName">Password Confirmation</label>
      <input type="password" name="passwordConfirmation">
      <label for="admin">Admin Code (Optional)</label>
      <input type="password" name="admin">
      <input type="submit" value="Submit">
    </form>
  <% } else { %>
    <form action="/signup" method="POST">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" placeholder="First">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" placeholder="Last">
      <label for="lastName">User Name (Email)</label>
      <input type="text" name="userName" placeholder="Email">
      <label for="lastName">Password</label>
      <input type="password" name="password">
      <label for="lastName">Password Confirmation</label>
      <input type="password" name="passwordConfirmation">
      <label for="admin">Admin Code (Optional)</label>
      <input type="password" name="admin">
      <input type="submit" value="Submit">
    </form>
  <% } %>
</body>
</html>